body {
	margin: 0;
	font-family: $font;
        font-size: 16px;
        color: $black;
        display: flex;
}

h1, h2, h3 {
        color: $black;
}

h1 {
        font-size: 2em;
}

p {
        margin-top: 0;
}

.hidden-from-view {
        position: absolute;
        left: -99999999px;
}
