main {
        overflow: hidden;
        width: 70%;
        position: relative;

        ul {
                width: 200%;
                height: 100vh;
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                transition: transform 0.4s ease;

                &.next-page {
                        transform: translateX( -50% );
                }
        }

        li {
                overflow: hidden;
        }

        li:hover, a:focus {
                img {
                        transform: scale( 1.2 );
                }

                p {
                        transform: translateX( 1em );

                        span {
                                opacity: 1;
                        }
                }
        }

        a {
                position: relative;
                width: 100%;
                height: 100%;
                display: block;
                text-decoration: none;
        }

        h2 {
                position: relative;
                margin: 0;
                padding: 1em;
                color: $white;
                font-size: 1.4em;
                z-index: 1;
        }

        img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 4s ease;
        }

        canvas {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: inline-block;
        }

        .one-one {
                width: 25%;
                height: 50vh;
        }

        .two-one {
                width: 50%;
                height: 50vh;
        }

        .one-two {
                width: 25%;
                height: 100vh;
        }

        .two-two {
                width: 100%;
                height: 100vh;
        }

        button {
                position: absolute;
                left: 1em;
                bottom: 1em;
                width: 50px; width: 4em;
                height: 50px; height: 4em;
                background: $white;
                border: 0;
                font-size: 1.2em;
                font-weight: 700;
                cursor: pointer;
                padding: 0;
                z-index: 1;

                &:nth-of-type( 2 ) {
                        left: 78px; left: 5.5em;
                }

                &[disabled] {
                        color: rgba( $black, 0.3 );
                }
        }

        p {
                position: absolute;
                right: 2em;
                bottom: 1em;
                margin: 0;
                transition: transform 0.7s ease;
                display: flex;
                align-items: center;

                span {
                        color: $white;
                        margin-right: 0.4em;
                        opacity: 0;
                        transition: opacity 0.7s ease;
                }
        }

        svg {
                width: 1.7em;
                height: auto;
                fill: $white;
        }
}
